/*
Theme Name:   Twenty Seventeen Child
Template:     twentyseventeen
Description:  Twenty Seventeen Child Theme
Author:       Béatrice BECUE
Author URI:   https://framagit.org/BECUE/miel
Version:      1.0.0
License:      GPLv2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  twenty-seventeen-child
*/

/* color of the title in the header */
body.has-header-image .site-title, body.has-header-video .site-title, body.has-header-image .site-title a, body.has-header-video .site-title a {
    color: brown;
}
/* color of the navbar */
.navigation-top {
    background-color: #8cc63f;
}
/*  */
.navigation-top .current-menu-item > a, .navigation-top .current_page_item > a {
    color: brown;
}
/* the items for menu */
.main-navigation a {
    color: #8B0000;
    font-size: 1.3em;
    padding: 0.60em;
    
}
/* space between the columns in the block on the pages */
.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
    margin: 0.50em 0.30em 0.50em 0.30em;
}
/*postion of the image in the recipe presentation pages */
.elementor-widget-image .elementor-image img {
    margin-bottom: 25px;
}
/*Hide links in the footer */
.social-navigation ul{
    display: none;
}
/* color the button of the page panier*/
.button {
    background-color: #8cc63f;
}
/* the margin of the navbar*/
.navigation-top .wrap {
    margin: 10px;
    max-width: 1400px;   
}

/* woocommerce photos appear the same size and center in reponsive */
.eael-product-grid .woocommerce ul.products li.product {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}
/* leave the format of the text identical to woocommerce*/
.eael-product-grid.eael-product-simple .woocommerce ul.products li.product .woocommerce-loop-product__title {
    text-transform: none;
}

/* color of the icon instagram*/
.elementor-social-icon-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
/* for the footer to no longer display*/
.site-footer {
    display: none;
}
/*no longer displays page title on pages */
body.page:not(.twentyseventeen-front-page) .entry-title {
   display: none;
}
/*no longer displays page title on page accueil */
.page.page-one-column .entry-header, .twentyseventeen-front-page.page-one-column .entry-header {
    display: none;
}

/* position of footer page accueil*/
.elementor-327 .elementor-element.elementor-element-406a18b5:not(.elementor-motion-effects-element-type-background) {
    position: absolute;
    left: 0;
    bottom: 5px;
}

/* position widget search*/
.dgwt-wcas-search-wrapp {
    max-width: 30px !important;
    position: relative;
}
/*don't affiche user */

/* postion and color of the user*/
.fa-2x {
   margin-left: 300px;
   color: #8cc63f;
   bottom: 50px;
   float: left;    
   height: 2px;
     
}
/* search bar position */
.chw-widget {
    margin-right: 100px;
}
/* put the reponsive header photo*/  
.has-header-image .custom-header-media img  {
    position: relative;
}
/* put the reponsive header photo*/
.has-header-image.twentyseventeen-front-page .custom-header, .has-header-video.twentyseventeen-front-page .custom-header, .has-header-image.home.blog .custom-header, .has-header-video.home.blog .custom-header {
    height: auto;
}
/* put the reponsive header photo*/  
.custom-header-media {
    position: relative;
}
/* put the reponsive header photo*/  
.has-header-image .custom-header-media img, .has-header-video .custom-header-media video, .has-header-video .custom-header-media iframe {
    padding-bottom: 0px;
}


@media screen and (min-width: 480px) {
   
/* view the full picture on the screen*/
.has-header-image .custom-header-media img {
    height: auto;   
    position: fixed;
    
}
/* position widget search*/
.dgwt-wcas-search-wrapp {
    bottom:650px ;
    margin-left: 500px;
    max-width: 300px !important;
}
/* position of the user in the header*/
#user {
    position: relative;
    z-index: 1;   
}

/* postion and color of the user*/
.fas {
   margin-left: 1200px;
   color: #8cc63f;
}
/*don't affiche user */
 #user-sm {
    display: none;
}
/* don't affiche the widget */

}

@media screen and (max-width: 480px) {
/* don't affiche the user in the phone */    
    #user {
        display: none;
    }
}

  



